@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-pink: 275 100% 97%;
  --purple: 281 83% 54%;
  --grayish-purple: 292 16% 49%;
  --dark-purple: 292 42% 14%;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Work Sans", sans-serif;
}
